*{
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 550px;
  max-height: 729px;
  margin: auto;
  background-color: #273549;
  font-family: "Inter",sans-serif;
}
.header-div{
  min-height: 285px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #6943FF;
  color: #FFFFFF;
}
.h1{
  font-weight:800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
.input{
  width: 117px;
  height: 83px;
  border-radius: 5px;
  border: 2px solid #B295FF;
  font-size: 58px;
  font-weight: 800;
  line-height: 24.39px;
  text-align: center;
  background: transparent;
  color: #FFFFFF;
}
.input:focus{
  outline: none;
}

.convert-btn{
  width: 117px;
  height: 42px;
  border-radius: 5px;
  border: #FFFFFF;
  background-color: #FFFFFF;
  color:#3D3D3D;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.conversions-div{
  min-height: 444px;
  background: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.conversion{
  background: #273549;
  min-width: 500px;
  min-height: 108.57px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.h3{
  height: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #CCC1FF;
}
.p{
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}